* {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  color: #181818;
  font-weight: 400;
  text-decoration: none;
}

body {
  background-color: #ffdf8c;
  padding: 50px;
}

.wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.03);
  padding: 50px 70px;
}

/*! HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
}

.header_icon_title {
  display: flex;
  align-items: center;
}

.header_icon_title > img {
  margin-right: 17px;
}

.header_title {
  font-size: 24px;
}

.header_text {
  color: #7b7b7b;
  font-size: 16px;
}

.cart_btn,
.total_price,
.total_count {
  display: flex;
  align-items: center;
}

.cart_btn {
  background-color: #fe5f1e;
  border: none;
  border-radius: 30px;
  padding: 12px 23px;
  cursor: pointer;
}

.line {
  width: 1px;
  height: 25px;
  background-color: #fff;
  margin: 0 13px 0 19px;
}

.price,
.count,
.val {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.count,
.val {
  margin-left: 8px;
}

/*! PIZZA TYPE */
.pizza_type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.btn {
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 700;
  border-radius: 30px;
  background-color: #f9f9f9;
  padding: 12px 25px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.btn_active {
  background-color: #282828;
  color: #fff;
}

.pizza-sort {
  display: flex;
  align-items: center;
}

.pizza-sort > p {
  color: #2c2c2c;
  font-size: 14px;
  font-weight: 700;
  margin-right: 8px;
}

/*! PIZZA-ITEMS */

.pizza_items_title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 38px;
}
.pizza-items {
  display: flex;
}

/*? PIZZA-ITEM */

.pizza_item {
  max-width: 280px;
  text-align: center;
  margin-right: 30px;
}
.pizza_name {
  font-size: 20px;
  font-weight: 800;
}
.pizza_choice {
  border-radius: 10px;
  background: #f3f3f3;
  display: flex;
  padding: 6px;
  margin: 20px 0 12px 0;
}
.pizza_choice_btn {
  width: 100%;
  background: #f3f3f3;
  font-size: 14px;
  font-weight: 700;
  color: #2c2c2c;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 6px 0;
}

.choice_btn_active {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
}

.pizza_buy,
.pizza_btn_buy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pizza_price {
  font-size: 22px;
  font-weight: 700;
}

.pizza_btn_buy {
  border-radius: 30px;
  border: 1px solid #eb5a1e;
  background-color: #fff;
  color: #eb5a1e;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;

  transition: 0.3s all;
}

.pizza_btn_buy:hover {
  background-color: #eb5a1e;
  color: #fff;
}

.pizza_btn_buy:active {
  background-color: #c94f1a;
  color: #fff;
}

svg {
  margin-right: 8px;
}

.empty-description {
  margin: 0 auto;
  padding: 30px 0;
}
